
<div class = "patient">
<h1>Add a new Patient!  </h1>
<%= form_for @notes do |f| %>
<h2>Medical Notes:<h2>

   <div>
      <%= f.label :user_id %>
      <%= f.text_field :user_id %>
   </div>


    <div>
        <%= f.label :date %> (yyyy/mm/dd)
        <%= f.text_field :date %>
    </div>

    <div>
        <%= f.label :text %>
        <%= f.text_field :text %>
    </div>



    <%= f.submit "Save!" %>


<% end %>
</br></br>

<button type="button" class="btn btn-default">
<%= link_to "Menu", welcome_index_path %></button>
</div>
