<div class = "patient">

<h1> <%= @patient_infos.name %> </h1>
 <ul>
   <li>Age: <%= @patient_infos.age%> </li>
   <li>Gender: <%= @patient_infos.gender%> </li>
   <li>Address: <%= @patient_infos.address %></li>
   <li>Phone: <%= @patient_infos.contact %></li>
   <li>Health Insurance: <%= @patient_infos.health_insurance %></li>
   <li>Primary Doctor: <%= @patient_infos.primary_doctor %></li>
 </ul>

<h2>Medical History</h2>
  <ul>
     <li>Cardio Diagnostic: <%= @medical_histories.cardio_diagnostic%>, <%= @medical_histories.cardio_secondary%></li>
     <li>Clinical Diagnostic: <%= @medical_histories.clinical_diagnostic%>, <%= @medical_histories.clinical_secondary%></li>
     <li>Medications: <%= @medical_histories.cardio_medication%>, <%= @medical_histories.secondary_medication%>, <%= @medical_histories.related_medication%></li>

  </ul>

<h3>Physical Exam</h3>
  <ul>
    <li>Pulse: <%= @physical_exams.pulse%> per minute.</li>
    <li>Blood Pressure: <%= @physical_exams.systolic_pressure%> x <%= @physical_exams.diastolic_pressure%> mmHg.</li>
    <li>Height: <%= @physical_exams.height%>.</li>
    <li>Weight: <%= @physical_exams.weight%> lbs.</li>

  </ul>

<h4>Doctor Notes</h4>
<div>
  <div>Date: <%= @notes.date %> - <%= @notes.text%> - !!!END!!!</div>
</div>

</br></br><button type="button" class="btn btn-default">
<%= link_to "Back to the list!", admin_index_path %></button>
</br>
<button type="button" class="btn btn-default">
<%= link_to "Menu", welcome_index_path %></button>
</br>
<button type="button" class="btn btn-default">
<%= link_to "Edit Patient Info", edit_patient_path %></button>
</br>
<button type="button" class="btn btn-default">
<%= link_to "Edit Medical History", edit_medical_path %></button>
</br>
<button type="button" class="btn btn-default">
<%= link_to "Edit Physical Rxam", edit_physical_path %></button>
</br>
<button type="button" class="btn btn-default">
<%= link_to "Edit Medical Notes", edit_note_path %></button>
</br>
<button type="button" class="btn btn-default">
<%= link_to "Delete this Patient!", show_user_path, method: :delete, data: { confirm: "Are you sure you want to delete Patient?"} %></button>
</div>
