

<div class="jumbotron">
   <div class="container">
<h1 id = "jumbotron_h1">Dr. Heart Portal!</h1>
<p id="jumbotron_p">The Cardiology Center of Los Angeles.</br>You heart is very important to us! </p>

</div>

</div>



<div class="row text-center">
  <div class="col-md-6" id="login">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <p><%= render "devise/shared/links" %></p>

  </div>
  <div class="col-md-6">
    <div class ="index_img">
    <img src="http://i.imgur.com/YPbJcRI.jpg" class="img-responsive" alt="Responsive image">
      <p>In case of Emergency Call 911</p>
    </div>

  </div>

</div>
